name: Build e Push para Docker Hub

on:
  push:
    branches: [ "main" ]

env:
  # Define o nome da imagem usando o segredo
  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/churn-api

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build e Push da Imagem
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Gera duas tags: uma com o ID do commit (para histórico) e a 'latest' (para o servidor usar)
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.IMAGE_NAME }}:latest